<script>document.getElementById("ccright").innerHTML = "Copyright &copy; " + new Date().getFullYear() + " - Charles - All Rights Reserved";
    //display confirmation when the trash icon is clicked
    const display_del_option = (id) => {
        document.getElementById("div-confirm-del-" + id).style.display = "block"
    }
    //clock confirmation when the no button is clicked
    const close_del_option = (id) => {
        document.getElementById("div-confirm-del-" + id).style.display = "none"
    }


</script>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
    crossorigin="anonymous"></script>

<script src="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.1.4/dist/js/splide.min.js"></script>