<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movie project</title>
    {% include 'partials/links.html' %}
</head>

<body>
    {% include 'partials/header.html' %}

    <section class="container mt-5 mb-5">

        <div style="display: grid; grid-template-columns: auto auto auto auto; gap: 40px">
            {% for movie in movies %}
            <div class="card" style="width: 18rem;">
                <img src="{{ movie['image'] }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ movie['title'] }}</h5>
                    <p>
                        <!--Checked stars-->
                        {% for i in range(movie['rating']) %}
                        <span class="fa fa-star checked"></span>
                        {% endfor %}
                        <!--Unchched stars-->
                        {% for i in range(5 - movie['rating']) %}
                        <span class="fa fa-star"></span>
                        {% endfor %}
                    </p>
                    <div class="mt-4">
                        <a href="/movies/edit/{{movie['id']}}"><i class="fa fa-edit fa-btn"></i></a>
                        <a href="/movies/delete/{{movie['id']}}"><i class="fa fa-trash fa-btn-red"></i></a>

                    </div>
                </div>
            </div>
            {% endfor %}
        </div>

    </section>


    {% include 'partials/footer.html' %}

    {% include 'partials/scripts.html' %}


</body>

</html>